<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
    .with-border{
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
<title>Survey</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%"> 
        <tr>
            <td style="padding: 10px 0 30px 0;">
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #cccccc; border-collapse: collapse;">
                    <!-- <tr>
                        <td align="center" bgcolor="#227fbc" style="padding: 40px 0 30px 0; color: #153643; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;">
                             <img src="https://pmc-devmedia.s3.ca-central-1.amazonaws.com/pmc-logo-for-emails.png" alt="Pocket Money Capital" width="296" height="63" style="display: block;" />
                        </td>
                    </tr> -->
                    <tr>
                        <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                

                              
                                <tr>
                                    <td style="padding: 0 0 20px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
                                        Survey user mapping process was successfully done. Here is the list of mapping users and failed users.
                                    </td>
                                </tr>
                                <br>
                                <tr>
                                    <td style="font-size: 14px;">
                                        Successfully mapped users : <%= userCreated %>
                                  </td>
                                </tr>
                                <tr>
                                    <td style="font-size: 14px;">
                                        Failed user mapping: <%= userCreatedFailed %>
                                    </td>
                                </tr>
                                <br>
                                <tr> 
                                    <td>
                                <table class="with-border" width="100%">
                                    <tr class="with-border">
                                        <th style="padding: 5px; color: #153643; font-family: Arial, sans-serif; border: 1px solid black;border-collapse: collapse;">
                                            S.No
                                        </th>                                        
                                        <th style="padding: 5px; color: #153643; font-family: Arial, sans-serif; border: 1px solid black;border-collapse: collapse;">
                                            First Name
                                        </th>
                                        <th style="padding: 5px; color: #153643; font-family: Arial, sans-serif; border: 1px solid black;border-collapse: collapse;">
                                            Last Name
                                        </th>
                                        <th style="padding: 5px; color: #153643; font-family: Arial, sans-serif; border: 1px solid black;border-collapse: collapse;">
                                            Email
                                        </th>
                                        <th style="padding: 5px; color: #153643; font-family: Arial, sans-serif; border: 1px solid black;border-collapse: collapse;">
                                            Action
                                        </th>
                                        <th style="padding: 5px; color: #153643; font-family: Arial, sans-serif; border: 1px solid black;border-collapse: collapse;">
                                            Status
                                        </th>
                                        <th style="padding: 5px; color: #153643; font-family: Arial, sans-serif; border: 1px solid black;border-collapse: collapse;">
                                            Reason
                                        </th>                                        
                                    </tr>
                                    <% for (var j = 0; j < list.length; j++) {%>
                                    <tr class="with-border">
                                        <td style="padding: 5px; color: #153643; font-family: Arial, sans-serif; border: 1px solid black;border-collapse: collapse;">
                                            <%= j+1 %>
                                        </td>
                                        <td style="padding: 5px; color: #153643; font-family: Arial, sans-serif; border: 1px solid black;border-collapse: collapse;">
                                            <%= list[j].firstName %>
                                        </td>
                                        <td style="padding: 5px; color: #153643; font-family: Arial, sans-serif; border: 1px solid black;border-collapse: collapse;">
                                            <%= list[j].lastName %>
                                        </td>
                                        <td style="padding: 5px; color: #153643; font-family: Arial, sans-serif; border: 1px solid black;border-collapse: collapse;">
                                            <%= list[j].email %>
                                        </td>
                                        <td style="padding: 5px; color: #153643; font-family: Arial, sans-serif; border: 1px solid black;border-collapse: collapse;">
                                            <%= list[j].action %>
                                        </td>
                                        <td style="padding: 5px; color: #153643; font-family: Arial, sans-serif; border: 1px solid black;border-collapse: collapse;">
                                            <%= list[j].logStatus ? "success": "failed" %>
                                        </td>
                                        <td style="padding: 5px; color: #153643; font-family: Arial, sans-serif; border: 1px solid black;border-collapse: collapse;">
                                            <%= list[j].errorMessage %>
                                        </td>                                        
                                    </tr>
                                    <% } %>
                                </table>
                            </td>
                        </tr>
                                <br>
                                
                            </table>
                        </td>
                    </tr>
                      <tr>
                        <td>
                            <hr>
                        </td>
                    </tr>

                    <!-- <tr>
                        <td bgcolor="#77b743" style="padding: 30px 30px 30px 30px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;" width="75%">
                                        &reg; Pocket Money Capital <%= new Date().getFullYear();%><br/>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr> -->
                </table>
            </td>
        </tr>
    </table>
</body>
</html>