<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Survey</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<style type="text/css">
 
</style>
</head>
<body style="margin: 0; padding: 0;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%"> 
        <tr>
            <td style="padding: 10px 0 30px 0;">
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #cccccc; border-collapse: collapse;">
                    <tr>
                        
                        <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td style="padding: 0 0 20px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;text-transform: capitalize;">
                                        <%- emailHeader %>!
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td style="padding: 0 0 20px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
                                        <% if(emailBody == "") { %>
                                            <span>Kindly <a href="<%= link %>"> click </a> here for you survey visit. </span>
                                        <% }  else { %>
                                            <%- emailBody %>
                                            <!-- <p>Link: <a href="<%= link %>"> click here </a> </p> -->
                                        <% } %>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 0 0 20px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;text-transform: capitalize;">
                                        <%- emailSignature %>
                                    </td>                                    
                                </tr>
                                <tr>
                                    <td style="font-size: 12px !important;padding: 0 0 20px 0; color: #153643; font-family: Arial, sans-serif; line-height: 18px;text-transform: capitalize;">
                                        <%- emailFooter %>
                                    </td>                                    
                                </tr>
                            </table>
                        </td>
                    </tr>
                      <tr>
                        <td>                            
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>